body {
	margin: 0px;
	padding: 0px;
	background: #1C1F24 url(../images/1C1F24.png) repeat left top;
}

p {
	margin: 0px;
	padding: 10px;
}

/* Fix for poor PNG support in MSIE/Win */
img {
    behavior: url(/lib/pngbehavior.htc);
}

#teaser {
	text-align: center;
	height: 640px;
	background: #1C1F24 url(../images/background.png) repeat-x left top;
}

#teaser-content {
	padding-top: 50px;
}